<mat-accordion *ngFor="let movies of MyMovies">
    <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
    <mat-panel-title>
    <h3> {{ movies.Title }} </h3>
    </mat-panel-title>
    <mat-panel-description>
    <h3>{{ movies.Year }}</h3>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <img src="{{movies.Poster}}">
    <mat-action-row>
    <button mat-button color="primary">EDIT</button>
    <button mat-button color="warn">DELETE</button>
    </mat-action-row>
    </mat-expansion-panel>
    </mat-accordion>
